<nav class="navbar">
    <ul class="menu-list">
      <li class="menu-item"><a routerLink="/Division" routerLinkActive="active">Ejercicio 1</a></li>
      <li class="menu-item"><a routerLink="/ConvertirBase" routerLinkActive="active">Ejercicio 2</a></li>
      <li class="menu-item"><a routerLink="/exercise3" routerLinkActive="active">Ejercicio 3</a></li>
      <!-- Agrega más elementos de menú según sea necesario -->
    </ul>
    <div class="logo-container">
        <img src="../../../assets/Siesa.jpg" alt="Logo de Siesa">
      </div>
  </nav>
  
  